<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

    <div class="container-fluid">
        <div class="row mt-5">
            <form class="col-md-6 offset-md-3 card shadow mt-5" method="post" action="create">
                <h2 class="text-center my-5">Create New Candidate</h2>
                <div class="form-floating mb-3">
                    <input name="name" type="text" class="form-control" id="floatingName" placeholder="Name">
                    <label for="floatingName">Name</label>
                </div>
                <div class="form-floating">
                    <input name="srcUrl" type="text" class="form-control" id="floatingPhotoUrl"
                        placeholder="Photo Url">
                    <label for="floatingPhotoUrl">PhotoUrl</label>
                </div>
                <button type="submit" class="btn btn-primary my-5">Upload</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>